/* Responsiv tilpasning */
@media screen and (max-width: 768px) {
  .box-main {
    max-width: calc(50% - 20px); /* To bokser per rad på mindre skjermer */
  }
  body {
    font-size: 0.8rem;
  }

  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ }


  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   }}


@media screen and (max-width: 480px) {
  .box-main {
    max-width: calc(100% - 20px); /* Én boks per rad på veldig små skjermer */
  }
  body {
    font-size: 0.8rem;
  }
  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ } 

  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   } }

   #logo {
    width: 8rem;
   }

   #slagord {
    font-size: 2.5rem;
    text-align: left;
    margin: 8rem 0 4rem 6rem;
   }

  @media (max-width: 768px) {
    /* CSS for skjermer med maks bredde 768px (f.eks. mobil) */
    .header-section {
      grid-template-columns: 1fr; /* Endrer til én kolonne */
      grid-gap: 20px; /* Legger til plass mellom elementene */
    }
    
    .header-section img {
      max-width: 100%; /* Fyller den tilgjengelige bredden */
      margin: 0; /* Fjerner senterjusteringen */
    }
  
    .header-section #tittel {
      text-align: center;
    }
    
    .header-section img.responsive-image {
      margin-top: 20px; /* Legger til toppmargen */
    }
  }

  @media screen and (max-width: 600px) {
    .names {
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    .name {
      margin-right: 20px;
    }
  
    .name:last-child {
      margin-right: 0;
    }
  }