/* Responsiv tilpasning */
@media screen and (max-width: 768px) {
  .box-main {
    max-width: calc(50% - 20px); /* To bokser per rad på mindre skjermer */
  }
  body {
    font-size: 0.8rem;
  }

  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ }


  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   }}


@media screen and (max-width: 480px) {
  .box-main {
    max-width: calc(100% - 20px); /* Én boks per rad på veldig små skjermer */
  }
  body {
    font-size: 0.8rem;
  }
  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ } 

  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   } }