html {
  margin: 0px;
  height: 100%;
  width: 100%;
 }

/*lagt til html og tre første linjer i body, for å dekke heile skjerm*/  

/* Bakgrunn */
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: white; /*  #DFE1E3; /* Endrer bakgrunnen til hvit */
  font-family: 'Roboto', sans-serif; /* Setter fonten til Roboto */
  font-size: 16px;
  font-weight: normal; /* velger Roboto Regular */
  position: relative;
}

/* Logo */
#logo {
  position: absolute;
  top: 0rem;
  left: 3rem;
  width: 10rem; /* endre bredden etter behov*/
  height: auto; /* lar høyden justeres automatisk for å bevare proporsjonene */
}

/* Slagord */
#slagord {
  font-size: 3.5rem;
  margin: 8rem 0 4rem 12rem;
  text-align: left;
  font-weight: lighter;
}

/* Allerede medlem seksjon */
.member-section {
  display: flex;
  justify-content: flex-end;  /*horisontal posisjon for flex-item*/
  align-items: center; /*vertikal posisjon for flex-item*/
  margin: 10px;
}

.member-section p {
  font-size: 0.8rem;
  margin-right: 10px;
}

.member-button {
  background-color: #7E7365;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600; /*semibold*/
  /*cursor: pointer;*/
  transition-duration: 0.4s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.member-button:hover {
  background-color: #7E7365;
  color: white;
  transform: scale(1.05);
}

/* Bokser med bilder*/
.container-bilder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  position: relative;
  gap: 10px; /* legger til et gap/mellomrom på 10px mellom kolonnene i flex-boksen */ 
}

.box {
  margin: auto; /* endre størrelsen på margene etter behov */
  text-align: center;
  overflow: hidden; /* skjuler eventuell overflow */
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(33% - 30px); /* Juster maks bredde basert på containerens padding */
}

.box img {
  width: 100%; /* setter bredden til bildet til 100% */
  height: auto; /* lar høyden automatisk justeres for å bevare proporsjonene */
  object-fit: cover; /* skalering av bildet slik at det fyller hele boksen og beskjæring for å bevare proporsjonene */
  border-radius: 10px; /* endrer hjørneradius på bildet */
}

.box p {
  font-size: 1.2rem;
  font-weight: 600; /*semibold*/
}

/* CTA-knapp */
.cta-button { 
  background-color: #16668b;;
  color: black;
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center; /* Sentrer teksten */
  line-height: 1.4; /* Juster linjehøyde for å bryte teksten på to linjer */
  width: 190px; /* Endre bredden til passende størrelse */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.container-bilder .cta-button {
  position: absolute;
  bottom: 80px;
  right: 2px;
}

.cta-button:hover {
  background-color: #0d3263;
  color: black;
  transform: scale(1.05);
}


/* Navbar */
.navbar {
  background-color: #7E7365; /* Endrer bakgrunnen på navbaren til mørkebrun */
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Justerer elementene til høyre */
}

.navbar a {
  color: #fff; /* Endrer farge på linkene til hvit */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600; /*semibold*/
}

.navbar a:hover {
  color: #ddd;
  color: #D1CCBD;
}

.navbar a.active {
  color: #D1CCBD;
}

nav ul li a.active {
  cursor: default;
}


/* Main section */
/* Første hovedseksjonen med lysere bakgrunnsfarge */
.main-section {
  background-color: #D1CCBD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Boksene */
.box-main {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(25% - 30px); /* Juster maks bredde basert på containerens padding */
}

/* Avstanden mellom boksene */
.box-main:not(:last-child) {
  margin-right: 10px;
}

/* Overskriftene */
.box-main h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px;
}

/* Ikoner og tekst for verdiboksene */
.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.value i {
  font-size: 22px;
  margin-right: 5px;
  color: black;
  align-self: flex-start;
}

.value p{
  margin: 0;
  margin-left: 20px;
 }                      
 
 #innovasjon{
  margin-left: 26px;  /*Ulik størrelse for å få teksten likt plassert*/
 }

/* Bildet i tilbyr-boksen */
.box-main img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 36px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

/* Sitatelementene */
blockquote {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 20px;
}

/* Lenken til sitater */
#bqlink {
  font-size: 0.9rem;
  color: black;
  text-decoration: underline;
}

/* Kartutsnitt og adresse */
.map {
  display: flex;
  flex-direction: column;
}

.map img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 0px;
}

address {
  font-size: 0.9rem;
  font-style: normal;
  margin: 18px 0;
  text-align: right;
}

/* Ikoner for sosiale medier */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Legg til denne linjen for å justere barna til høyre */
}

.social-icons a {
  margin-right: 10px;
}

.social-icons i {
  font-size: 20px;
  color: #111111;
}

/*Main section del 2*/
.main-section2 {
  background-color: #7E7365;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.column-half {
  flex-basis: 40%;   /*Ikkje ta opp heile sida*/  
}

.main-section2 h2 {
  font-size: 5rem;
  margin: 0;
  padding-left: 100px;
}

.offer-text {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

.column1 {
  flex-basis: 66.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.membership-container {
  padding: 50px;
  text-align: left;
  font-size: 1.2rem;
}

.membership-list {
  padding-left: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}


.column2 {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.box2 {
  background-color:hsl(29, 92%, 50%);
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  margin-left: -10px;
}

.box-text {
  margin: 0;
}

.bookingbutton {
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.booking-button:hover {
  color: black;
  transform: scale(1.05);
}

.main-section2 .cta-button {
  display: block;
  margin-top: 20px;
  position: relative;
  /*padding: 2px 20px;*/
  bottom: -30px;
  margin-left: 20px;
}

.main-section2 h3 {
  text-align: left;
  padding-bottom: 20px;
}

.tenants{
  margin: 20px 100px;
  padding-bottom: 120px;
}

.names {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 celler med lik bredde */
  grid-gap: 20px; /* 20px avstand mellom cellene */
  justify-content: center; /* sentrerer rutenettet horisontalt */
  align-items: center; /*  sentrerer rutenettet vertikalt */
}
.name {
  text-align: center; /* sentrerer tekst i cellene */
}


.footer {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*flex-start*/
  align-items: center; /*flex-start*/
  font-size: 1rem;
  line-height: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer__text {
  margin: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer .social-icons{
  padding-right: 40px;
}

/*Fasiliteter - underside */
/* Bilde */
.box_fas {
  margin: auto; /* endre størrelsen på margene etter behov */
  text-align: center;
  overflow: hidden; /* skjuler eventuell overflow */
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(25% - 30px); /* Juster maks bredde basert på containerens padding */
}

.box_fas img {
  width: 100%; /* setter bredden til bildet til 100% */
  height: auto; /* lar høyden automatisk justeres for å bevare proporsjonene */
  object-fit: cover; /* skalering av bildet slik at det fyller hele boksen og beskjæring for å bevare proporsjonene */
  border-radius: 10px; /* endrer hjørneradius på bildet */
}

/* Tittel */
#tittel {
  font-size: 32px;
  margin-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 20px;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 64px;
}

.container-bilder{
  padding: 1rem 0 0 0;
}
/* Boksene */
.box-main_fas {
  padding: 15px;
  margin: 15px;
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(25% - 30px); /* Juster maks bredde basert på containerens padding */
  padding-bottom: 40px;
}

/*Floorplan*/
.floorplan{
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.floorplan h2, img {
  margin: 0 auto;
  width: 80%;
}

/*Underside medlemskap og priser*/

.header-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 30px;
  height: auto;
  /* gap: 20px; */
}

.header-section img {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  height: auto;
  margin-left: 20px;
  border-radius: 10px; /* Tilføyer avrundede hjørner for konsistens */
}


.main-section_medlem {
  background-color: white;
  color: black;
  margin: 0 auto;
  padding: 20px;
  padding-left: 40px;
  text-align: center;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
}

.container-medlem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.column {
  width: 60%; /* 2/3 of the main section */
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.pris ul {
  list-style-type: none;
  padding: 0;
}

.plan li {
  text-align: left;
  line-height: 1.5;
}

.pris li {
  text-align: right;
  line-height: 1.5;
}

.medlemskap {
  display: flex;
  align-items: center;
}

.medlemskap .plan, 
.medlemskap .pris {
  flex: 1;
}

.main-section_medlem .box-wrapper {
  text-align: center;
  width: 30%; /* 1/3 of the main section */
}

.main-section_medlem .box2 {
  color: white;
  width: 80%;
  border-radius: 20px;
}

#rabatt {
  font-size: 1.5rem;
  font-weight: bold;
}

/*innmelding*/
.innmelding {
  background-color: #D1CCBD;
  margin: 0 auto;
  padding: 60px;
}

.innmelding h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="password"],
form textarea {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  margin-bottom: 20px;
}

form input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.5);
  vertical-align: middle;
}

form .checkbox-label {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

form .checkbox-label label {
  vertical-align: middle;
  margin-bottom: 0;
}

form button[type="submit"] {
  background-color: hsl(29, 92%, 50%);
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

/*Log in*/
#login {
  background-color: white;
}




@media (max-width: 768px) {
  /* CSS for skjermer med maks bredde 768px (f.eks. mobil) */
  .header-section {
    grid-template-columns: 1fr; /* Endrer til én kolonne */
    grid-gap: 20px; /* Legger til plass mellom elementene */
  }
  
  .header-section img {
    max-width: 100%; /* Fyller den tilgjengelige bredden */
    margin: 0; /* Fjerner senterjusteringen */
  }

  .header-section #tittel {
    text-align: center;
  }
  
  .header-section img.responsive-image {
    margin-top: 20px; /* Legger til toppmargen */
  }
}