/*Farger: Hvit:#dfe1e3, Mørk: #7e7365, Lys beige: #d1ccbd */

/* Bakgrunn */
body {
  background-color: #dfe1e3; /* Endrer bakgrunnen til hvit */
  font-family: "Roboto", sans-serif; /* Setter fonten til Roboto */
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 48px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
}

/* Logo */
#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px; /* endre bredden etter behov */
  height: auto; /* lar høyden justeres automatisk for å bevare proporsjonene */
  /*margin-right: 10px; /* legger til en margin på høyre side for å skille logoen fra navigasjonsmenyen */
  border-radius: 10px;
}

/* Tittel */
#tittel {
  font-size: 32px;
  margin-left: 230px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 48px;
}

/* Tekst */
.box p {
  font-size: 18px;
  font-weight: 600; /*semibold*/
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #7e7365; /* Endrer bakgrunnen på navbaren til mørkebrun */
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Justerer elementene til høyre */
}

.navbar a {
  color: #fff; /* Endrer farge på linkene til hvit */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600; /*semibold*/
}

.navbar a:hover {
  color: #ddd;
  color: #D1CCBD;
}

.navbar a.active {
  color: #d1ccbd;
}

nav ul li a.active {
  cursor: default;
}

/* Allerede medlem seksjon */
.member-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.member-section p {
  font-size: 14px;
  margin-right: 10px;
}

.member-button {
  background-color: #7e7365;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600; /*semibold*/
  cursor: pointer;
  transition-duration: 0.4s;
}

.member-button:hover {
  background-color: #d1ccbd;
  color: white;
  transform: scale(1.05);
}

/*Kode for Våre verdier */
.main-container {
  background-color: #d1ccbd;
  padding: 30px;
  margin: auto;
}

.values-header {
  margin-top: 0;
}

.values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.value-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(
    25% - 20px
  ); /* Juster maks bredde basert på containerens padding */
}

.value-box img {
  width: 50px;
  height: 50px;
}

/* Responsiv tilpasning */
@media (max-width: 768px) {
  .value-box {
    max-width: calc(50% - 20px); /* To bokser per rad på mindre skjermer */
  }
}

@media (max-width: 480px) {
  .value-box {
    max-width: calc(100% - 20px); /* Én boks per rad på veldig små skjermer */
  }
}
.mission-container {
  background-color: #7e7365;
  color: white;
  margin-top: 0;
  padding: 30px;
}
.history-container {
  background-color: white;
  color: black;
  margin-top: 0;
  padding: 30px;
}
.section-divider {
  margin: 0;
  height: 50px;
  background-color: #d1ccbd;
}
.header-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
  background-color: white;
  padding-top: 30px;
  /* gap: 20px; */
}

.header-text {
  /* flex-grow: 1;
  display: flex; */
  background-color: white;
  /* flex: 1; */
  /* flex-basis: 100%; */
  padding: 20px;
  /* flex-direction: column; */
}

.header-image {
  padding: 20px;
  /* flex: 0 1 30%; Gjør at bildecontaineren kan vokse opp til 30% av seksjonens bredde */
  /* flex-grow: 1; */
  /* display: flex; */
  /* flex: 1; */
  /* flex-basis: 100%; */
  /* flex-direction: column; */
}
.header-image img {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  height: auto;
  border-radius: 10px; /* Tilføyer avrundede hjørner for konsistens */
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
  background-color: #d1ccbd;
  padding-top: 30px;
  /* gap: 20px; */
}
.adress-section {
  padding: 20px;
  margin: 20px;
}
.info-section {
  padding-top: 200px;
  text-align: center;
}
.container {
  background: white;
  width: fit-content;
  padding: 10px;
  border-radius: 10%;
}
.socialmedia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d1ccbd;
}
