/*Farger: Hvit:#dfe1e3, Mørk: #7e7365, Lys beige: #d1ccbd */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
 }

/*lagt til html og tre første linjer i body, for å dekke heile skjerm*/  

/* Bakgrunn */
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: white; /* Endrer bakgrunnen til hvit */
  font-family: "Roboto", sans-serif; /* Setter fonten til Roboto */
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 64px;
}


h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 48px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 30px;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold; /* velger Roboto Regular */
}

/* Logo */
#logo {
  padding: 0px 40px;
  width: 180px; /* endre bredden etter behov */
  height: auto; /* lar høyden justeres automatisk for å bevare proporsjonene */
}


/* Navbar */
.navbar {
  background-color: #7e7365; /* Endrer bakgrunnen på navbaren til mørkebrun */
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Justerer elementene til høyre */
}

.navbar a {
  color: #fff; /* Endrer farge på linkene til hvit */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600; /*semibold*/
}

.navbar a:hover {
  color: #ddd;
  color: #d1ccbd;
}

.navbar a.active {
  color: #d1ccbd;
}

nav ul li a.active {
  cursor: default;
}


/* Allerede medlem seksjon */
.member-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.member-section p {
  font-size: 0.8rem;
  margin-right: 10px;
}

.member-button {
  background-color: #7E7365;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600; /*semibold*/
  /*cursor: pointer;*/
  transition-duration: 0.4s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.member-button:hover {
  background-color: #7E7365;
  color: white;
  transform: scale(1.05);
}

/*Kode for Våre verdier */
.main-container {
  background-color: #d1ccbd;
  padding: 30px;
  margin: auto;
}

.values-header {
  margin-top: 0;
}

.values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  align-items: center;   /*lagt til*/
  margin-top: 20px;
}

.value-box {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(
    25% - 20px
  ); /* Juster maks bredde basert på containerens padding */
}

/* Avstanden mellom boksene */
.value-box:not(:last-child) {
  margin-right: 10px;
}

.value-box i {
  font-size: 22px;
}

.value-box h3 {
  font-weight: bold;
}


/* Responsiv tilpasning */
@media (max-width: 768px) {
  .value-box {
    max-width: calc(50% - 20px); /* To bokser per rad på mindre skjermer */
  }

}


@media (max-width: 480px) {
  .value-box {
    max-width: calc(100% - 20px); /* Én boks per rad på veldig små skjermer */
  }
}

.mission-container {
  background-color: #7e7365;
  color: white;
  margin-top: 0;
  padding: 30px;
}
.history-container {
  background-color: white;
  color: black;
  margin-top: 0;
  padding: 30px;
}
.section-divider {
  margin: 0;
  height: 50px;
  background-color: #d1ccbd;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: auto;
  padding: 10px;
}

.header-section img {
  flex: 1;
  max-width: 60%;
  margin: 0 auto;
  height: auto;
  border-radius: 10px; /* Tilføyer avrundede hjørner for konsistens */
}

#bildekontakt {
  max-width: 40%;
}


.header-section .tittel {
  flex: 1;
  margin: 4rem;
  font-weight: 400; /* velger Roboto Regular */
  font-size: 64px;
}


@media only screen and (max-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .åpningstider-section {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  
  .kommetil {
    grid-column: 1 / 2;
    grid-row: 4;
  }
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d1ccbd;
  padding-top: 30px;
}

.adress-section {
  padding: 10px;
  margin: 20px;
  line-height: 2px;
}


.adress-section img {
  max-width: 100%;
}

.mer-info {
  align-items: center;
  align-self: center;
}

.åpningstider-section {
  margin: 20px;
  background: white;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

.kommetil {
  padding: 20px;
}




.container {
  display: flex;
  align-items: center;
  background: white;
  width: fit-content;
  height: 40px;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
}
.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1ccbd;
}
.socialmedia-img {
  height: 40px;
  padding: 15px;
}
.tilbakemelding-container {
  display: flex;
  justify-content: center; /* Midtstiller boksene horisontalt */
  gap: 20px; /* Avstand mellom hver boks */
  height: auto;
  background-color: #d1ccbd;
}

.tilbakemelding-box {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 250px; /* Bredde på boksen */
  background-color: white;
  text-align: center; /* Sentrerer teksten */
  position: relative; /* For posisjonering av bildet */
  padding-top: 50px; /* Gjør plass for bildet som stikker ut */
  padding: 50px 8px 8px 8px;
  border-radius: 15px; /* Avrundede hjørner på boksen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Liten skyggeeffekt for dybde */
}

.tilbakemelding-box img {
  width: 50%; /* Bildet er halvparten så bredt som boksen */
  border-radius: 50%; /* Gjør bildet rundt */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* Sentrerer bildet og flytter det opp */
  border: 3px solid white; /* Legger til en kant rundt bildet */
}
.tilbakemelding-footer {
  background-color: #d1ccbd;
  text-align: center;
  margin: 0;
  padding: 5rem;
}


.footer {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*flex-start*/
  align-items: center; /*flex-start*/
  font-size: 1rem;
  line-height: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer__text {
  margin: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer .social-icons{
  padding-right: 40px;
}

/* Ikoner for sosiale medier */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Legg til denne linjen for å justere barna til høyre */
}

.social-icons i {
  margin-right: 10px;
}

.social-icons i {
  font-size: 20px;
  color: #111111;
}

/*
.footer.img {
  height: 10rem;
}

.footer {
  margin-top: 30px;
  margin-left: 20px;
}

.footer p {
  font-size: 0.9rem;
  font-weight: 600;  
}
*/

a {
  color: black;
}

.socialmedia i {
  font-size: 40px;
  margin-right: 10px;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 150%;
  width: 100%;
  border-radius: 20px;
  left: 0;
  top: 0;
  position: absolute;
}