/* Bakgrunn */
body {
  background-color: white; /*  #DFE1E3; /* Endrer bakgrunnen til hvit */
  font-family: 'Roboto', sans-serif; /* Setter fonten til Roboto */
  font-size: 16px;
  font-weight: normal; /* velger Roboto Regular */
}

/* Logo */
#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px; /* endre bredden etter behov */
  height: auto; /* lar høyden justeres automatisk for å bevare proporsjonene */
  border-radius: 10px;
}


/* Slagord */
#slagord {
  font-size: 3rem;
  margin-left: 10rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: left;
  font-weight: lighter;
}

/* Allerede medlem seksjon */
.member-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.member-section p {
  font-size: 0.8rem;
  margin-right: 10px;
}

.member-button {
  background-color: #7E7365;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600; /*semibold*/
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.member-button:hover {
  background-color: #D1CCBD;
  color: white;
  transform: scale(1.05);
}

/* Bokser */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
  gap: 10px; /* legger til et gap/mellomrom på 10px mellom kolonnene i flex-boksen */
  position: relative; 
}

/* Bilde */
.box {
  margin: auto; /* endre størrelsen på margene etter behov */
  text-align: center;
  overflow: hidden; /* skjuler eventuell overflow */
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(33% - 30px); /* Juster maks bredde basert på containerens padding */
}

.box img {
  width: 100%; /* setter bredden til bildet til 100% */
  height: auto; /* lar høyden automatisk justeres for å bevare proporsjonene */
  object-fit: cover; /* skalering av bildet slik at det fyller hele boksen og beskjæring for å bevare proporsjonene */
  border-radius: 10px; /* endrer hjørneradius på bildet */
}

/* Tekst */
.box p {
  font-size: 1.2rem;
  font-weight: 600; /*semibold*/
}

/* CTA-knapp */
.cta-button {
  position: absolute;
  bottom: 80px;
  right: 2px;
  background-color: #16668b;;
  color: black;
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center; /* Sentrer teksten */
  line-height: 1.4; /* Juster linjehøyde for å bryte teksten på to linjer */
  width: 190px; /* Endre bredden til passende størrelse */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset; /* legger til skyggeeffekt */
}

.cta-button:hover {
  background-color: #0d3263;
  color: black;
  transform: scale(1.05);
}


/* Navbar */
.navbar {
  background-color: #7E7365; /* Endrer bakgrunnen på navbaren til mørkebrun */
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Justerer elementene til høyre */
}

.navbar a {
  color: #fff; /* Endrer farge på linkene til hvit */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600; /*semibold*/
}

.navbar a:hover {
  color: #ddd;
  color: #D1CCBD;
}

.navbar a.active {
  color: #D1CCBD;
}

nav ul li a.active {
  cursor: default;
}



/* Main section */
/* Hovedseksjonen med lysere bakgrunnsfarge */
.main-section {
  background-color: #D1CCBD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Boksene */
.box-main {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex: 1;
  min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  max-width: calc(25% - 30px); /* Juster maks bredde basert på containerens padding */
}

/* Avstanden mellom boksene */
.box-main:not(:last-child) {
  margin-right: 10px;
}

/* Overskriftene */
.box-main h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Ikoner og tekst for verdiboksene */
.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.value i {
  font-size: 22px;
  margin-right: 5px;
  color: black;
  align-self: flex-start;
}

.value p{
  margin: 0;
  margin-left: 20px;
 }                      
 
 #innovasjon{
  margin-left: 26px;  /*Ulike størrelse for å få teksten likt plassert*/
 }

/* Bildet i tilbyr-boksen */
.box-main img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 36px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Sitatelementene */
blockquote {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 20px;
}

/* Lenken til sitater */
#bqlink {
  font-size: 0.9rem;
  color: black;
  text-decoration: underline;
}

/* Kartutsnitt og adresse */
.map {
  display: flex;
  flex-direction: column;
}

.map img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

address {
  font-size: 0.9rem;
  font-style: normal;
  margin: 18px 0;
  text-align: right;
}

/* Ikoner for sosiale medier */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Legg til denne linjen for å justere barna til høyre */
}

.social-icons a {
  margin-right: 10px;
}

.social-icons i {
  font-size: 20px;
  color: #111111;
}

/*Main section 2*/
.main-section2 {
  background-color: #7E7365;
  color: #fff;
}

.container2 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  /*min-width: 250px; /* Minimum bredde for å unngå for smale bokser */
  /*max-width: calc(100% - 40px); /* Juster maks bredde basert på containerens padding */
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-half {
  flex-basis: 40%;
  
}

.main-section2 h2 {
  font-size: 5rem;
  margin: 0;
  padding-left: 100px;
}

.offer-text {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}


.column-half2 {
  flex-basis: 66.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.membership-container {
  padding: 50px;
  text-align: left;
  font-size: 1.2rem;
}

.membership-list {
  padding-left: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}


.column-half3 {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.box2 {
  background-color:hsl(29, 92%, 50%);
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  margin-left: -10px;
}

.box-text {
  margin: 0;
}

.bookingbutton {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  font-weight: bold;
}

.main-section2 .cta-button {
  display: block;
  margin-top: 20px;
  position: relative;
  /*padding: 2px 20px;*/
  bottom: -30px;
  margin-left: 20px;
}

.tenants{
  margin: 20px 100px;
  padding-bottom: 80px;
}

.names {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 celler med lik bredde */
  grid-gap: 20px; /* 20px avstand mellom cellene */
  justify-content: center; /* sentrerer rutenettet horisontalt */
  align-items: center; /*  sentrerer rutenettet vertikalt */
}
.name {
  text-align: center; /* sentrerer tekst i cellene */
}


.footer {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*flex-start*/
  align-items: center; /*flex-start*/
  font-size: 1rem;
  line-height: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer__text {
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer .social-icons{
  padding-right: 40px;
}



/* Responsiv tilpasning */
@media screen and (max-width: 768px) {
  .box-main {
    max-width: calc(50% - 20px); /* To bokser per rad på mindre skjermer */
  }
  body {
    font-size: 0.8rem;
  }

  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ }


  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   }}


@media screen and (max-width: 480px) {
  .box-main {
    max-width: calc(100% - 20px); /* Én boks per rad på veldig små skjermer */
  }
  body {
    font-size: 0.8rem;
  }
  .navbar a { font-size: 0.8rem; /* Endre font-størrelsen på lenkene i navbar på mindre skjermer */ } 

  .row2{
    flex-wrap: wrap; /*Bryte på mindre skjermer*/
    flex-direction: column; 
   }
 
   .column-half .column-half2, .column-half3 {
     flex-basis: 100%;
     max-width: 100%;
   } }